:root {
  --primary-1: #1da1f2;
  --primary-2: #1B95E0;
}

html,
body {
  font-size: 14px;
  font-family: Helvetica, 'Avenir', Arial, sans-serif;
  user-select: none;
  background-color: #e6ecf0;
}

*,
*:after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html,
body,
*,
*::placeholder {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  color: #333;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
}

a {
  color: #0070c9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
